@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Inter:wght@400;600;700&family=Montserrat:wght@300;400;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrol-behavior: smooth;
}

a {
  text-decoration: none;
  color: #6833e4;
}